---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const colors = [
    '#202330',
    '#472541',
    '#2d2f42',
    '#f2448b',
    '#333b2f',
    '#203a41',
    '#fae8b6',
    '#ff38a2',
    '#ffb347',
    '#ffc85b',
    '#9cd162',
    '#87c095',
    '#eba4ac',
    '#d9bcef',
    '#444444',
    '#6d7a72',
    '#fff0f5'
]
---

<Layout title="Pinkmare">
	<main>
		<h1><span class="text-gradient">Pinkmare</span></h1>
		<ul role="list" class="link-card-grid">
        {colors.map(color => (
			<Card
				title={color}
			/>
        ))}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
